<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="Krypton.Toolkit" version="65.22.4.94" targetFramework="net472" />
  <package id="Krypton.Toolkit.Suite.Extended.Common" version="65.22.4.94" targetFramework="net472" />
  <package id="Krypton.Toolkit.Suite.Extended.Developer.Utilities" version="65.22.4.94" targetFramework="net472" />
  <package id="Krypton.Toolkit.Suite.Extended.Effects" version="65.22.4.94" targetFramework="net472" />
  <package id="Krypton.Toolkit.Suite.Extended.Tools" version="65.22.4.94" targetFramework="net472" />
  <package id="KryptonToolkitSuiteThemes" version="5.400.1908" targetFramework="net472" />
  <package id="WindowsAPICodePackShell" version="1.1.2" targetFramework="net472" />
</packages>